<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <div padding color="dark">
      <ion-list>
        <ion-item>
          <ion-label fixed>Username</ion-label>
          <ion-input type="text" #input [(ngModel)]="model.username"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label fixed>Password</ion-label>
          <ion-input type="password" [(ngModel)]="model.password"></ion-input>
        </ion-item>
      </ion-list>
      <ion-grid>
        <ion-row>
          <button ion-button block color="primary" [disabled]="awaitingAjaxCall ? true : null" (click)="login()">Sign in</button>
        </ion-row>
      </ion-grid>
    </div>
</ion-content>
